<div class="col-3">
  <div>
    <h2>Game details:</h2>
  </div>
  <form #newGame="ngForm" (ngSubmit)="onSubmit(newGame)">
    <div class="form-group">
      <label for="Game_Name">Game Name:</label>
      <input type="text" class="form-control" name="Game_Name" id="gameName" ngModel required>
    </div>
    <div class="form-group">
      <label for="Player_1">Player One:</label>
      <input type="text" class="form-control" name="Player1" id="player1" ngModel required>
    </div>
    <div class="form-group">
      <label for="Player_2">Player Two:</label>
      <input type="text" class="form-control" name="Player2" id="player2" ngModel required>
    </div>
    <div class="form-group">
      <label for="who_won">who_won:</label>
      <select class="custom-select" name="Who_won" id="who_won" ngModel required>
        <option value="">Choose Player</option>
        <option value="0">Player1</option>
        <option value="1">Player2</option>
      </select>
    </div>
    <div>
      <button type="submit" class="btn btn-success" [class.disabled]="newGame.invalid">Create Game</button>
    </div>
  </form>
</div>
